body {
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffd9e3; /* Light pink background */
    color: #ff0000; /* Red text color */
}

h1 {
    text-align: center;
    margin: 20px 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

#container > div {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ff8080; /* Light red border */
    border-radius: 10px;
    background-color: #ffe6f0; /* Light pink background for flex items */
}

img {
    max-width: 100%;
    width: 450px;
    border-radius: 5px;
}

h2 {
    color: #ff0000;
}

ol {
    color: purple;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffd9e3; /* Light pink background for the footer */
}
